/* Screen */

.screen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}

.screen-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

/* Center */

.screen-container__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.screen-container__center > :first-child {
    margin-top: 50px;
}

.screen-container__center > :last-child {
    margin: auto 0;
    width: 353px;
}

.screen-container__center__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Left & Right */

.screen-container__left, .screen-container__right {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-bottom: 5%;
}

.left-img__container, .right-img__container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.left-img__container::after, .right-img__container::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.left-img__container {
    transform: translateX(-60px);
}

.right-img__container {
    transform: translateX(15px);
}

.left-img__container::after {
    background: linear-gradient(-91deg, #0f0e17, rgba(15, 14, 23, 0.3));
}

.right-img__container::after {
    background: linear-gradient(91deg, #0f0e17, rgba(15, 14, 23, 0.3));
}

/* Contact Page */
.contacts-screen {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin-bottom: 5%;
}

.email-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10% 5%;
    gap: 2rem;
}

.social {
    display: flex;
    gap: 1.5rem;
}

.persons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.left-person, .right-person {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
    min-width: 250px;
}

.left-person {
    text-align: left;
}

.right-person {
    text-align: right;
}

.person-name, .person-info {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.person-info {
    font-size: 1.5rem;
    font-weight: 300;
}
/* Mobile | Screen  */

.screen-mobile, .screen-container__mobile {
    height: 100%;
}

.screen-container__mobile,
.screen-container__top,
.screen-container__bottom,
.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen-container__mobile {
    justify-content: space-between;
}

.screen-container__top {
    padding: 50px 3rem;
    gap: 10rem;
}

.block {
    padding: 5rem 3rem;
    width: 100%;
}

.animate,
.adv {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.animate {
    background-image: url('/src/left-img2.png');
}

.adv {
    background-image: url('/src/right-img2.png');
}

.screen-container__bottom {
    width: 100%;
}