@import url('/styles/blocks.css');
@import url('/styles/elements.css');
@import url('/styles/modificators.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

input, textarea, select {
    font: inherit;
}

* {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #0f0e17;
    --orange: #fd8806;
    --white: #fffffe;
    --grey: #a7a9be;
    --black: #16161a;
    --border-radius: 15px;
    --transition-duration: 0.3s;
}

body, html {
    background-color: var(--background);
    color: var(--white);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1 {
    font-family: "Segoe UI Variable Display";
    font-size: 55px;
    font-weight: bold;
}

h2 {
    font-family: "Segoe UI Variable Display";
    font-size: 38px;
    line-height: 53px;
}

h3 {
    font-family: "Segoe UI Variable Display";
    font-size: 25px;
}

header {
    width: 100%;
    display: flex;
    padding: 60px 130px;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    header {
        justify-content: center;
    }

    h1 {
        font-size: 40px;
    }

    h3, h2 {
        font-size: 23px;
    }

    .staff-text {
        font-size: 79px;
    }

    .white-stroke, .orange-stroke {
        -webkit-text-stroke-width: 0.8px;
    }

    .content {
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    .email-container {
        padding: 5%;
        gap: 0;
    }

    .persons-container {
        flex-direction: column;
        align-items: center;
        gap: 150px;
    }

    .persons-container > div:nth-child(odd) {
        align-self: flex-start;
        transform: translateX(20rem);
    }

    .persons-container > div:nth-child(even) {
        align-self: flex-end;
        transform: translateX(-20rem);
    }

    .left-person, .right-person {
        gap: 1rem;
    }

    .social {
        gap: 20px;
    }

    .icon {
        width: 40px;
    }

    .circle {
        width: 450px;
        height: 450px;
    }

    .left-circle {
        top: 10%;
    }

    .person-name, .person-info {
        gap: .2rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

    header {
        justify-content: left;
        padding: 45px 45px 0 45px;
    }

    .staff-text {
        font-size: 45px;
    }

    .left-img__container,
    .right-img__container {
        width: 50%;
        overflow: hidden;
    }

    .left-img__container img,
    .right-img__container img {
        width: 100%;
        object-fit: cover;
    }

    .icon {
        width: 30px;
    }
    .social {
        height: 40px;
    }

    .circle {
        width: 300px;
        height: 300px;
    }

    .left-circle {
        top: 44%;
    }

    .content {
        flex-direction: column;
        margin-bottom: 10%;
    }

    .persons-container > div:nth-child(odd) {
        transform: translateX(15rem);
    }

    .persons-container > div:nth-child(even) {
        transform: translateX(-15rem);
    }

    .persons-container {
        gap: 50px;
    }
}

@media (max-width: 520px) {
    h3, h2 {
        font-size: 19px;
    }

    .animate {
        background-image: url('/src/left-img2.webp');
    }
    
    .adv {
        background-image: url('/src/right-img2.webp');
    }

    .staff-text {
        font-size: 69px;
    }

    .main {
        display: none;
    }

    .persons-container > div:nth-child(odd) {
        transform: translateX(17rem);
    }

    .persons-container > div:nth-child(even) {
        transform: translateX(-17rem);
    }

    .circle {
        width: 300px;
        height: 300px;
    }

    .left-circle {
        top: 20%;
    }

    .right-circle {
        bottom: 20%;
    }

    .persons-container {
        gap: 200px;
    }

    .email-container {
        padding: 8% 5%;
    }
}

@media (max-width: 425px) {
    h3, h2 {
        font-size: 15px;
    }

    .staff-text {
        font-size: 69px;
    }

    .persons-container > div:nth-child(odd) {
        transform: translateX(14rem);
    }

    .persons-container > div:nth-child(even) {
        transform: translateX(-14rem);
    }

    .email-container {
        padding: 13% 5%;
    }

    .icon {
        width: 30px;
        height: 40px;
    }

    .circle {
        width: 250px;
        height: 250px;
    }

    .social {
        gap: 10px;
    }
}