.segoe {
    font-family: 'Segoe UI', sans-serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}


.uppercase { text-transform: uppercase; }
.bold { font-weight: bold; }

.staff-text {
    display: flex;
    align-items: baseline;
    font-size: 83px;
}

.orange-color { color: var(--orange); }

.white-stroke, .orange-stroke {
    -webkit-text-stroke: 1px;
    color: transparent;
}

.white-stroke { -webkit-text-stroke-color: var(--white) }
.orange-stroke { -webkit-text-stroke-color: var(--orange) }

.white-stroke_hover, .orange-stroke_hover { -webkit-text-stroke: 0; }

.white-stroke_hover { color: var(--white); }
.orange-stroke_hover { color: var(--orange); }

.left-circle { inset-inline-start: -10%; }
.right-circle { inset-inline-end: -10%; }

.contact-us { transition: color var(--transition-duration) ease-in-out; }
.contact-us:hover { color: var(--orange); }

.border-no { border: none; }