.segoe {
    font-family: 'Segoe UI', sans-serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}


.uppercase { text-transform: uppercase; }
.bold { font-weight: bold; }

.staff-text {
    display: flex;
    align-items: baseline;
    font-size: 83px;
}

.orange-color { color: var(--orange); }

.white-stroke {
    -webkit-text-stroke: 1px;
    color: transparent;
}

.white-stroke { -webkit-text-stroke-color: var(--white) }

.white-stroke_hover {
    -webkit-text-stroke: 0;
    color: var(--white);
}

.white-stroke_hover { color: var(--white); }

.left-circle { inset-inline-start: -10%; transform: scaleX(-1); }
.right-circle { inset-inline-end: -10%; }

.contact-us { transition: color var(--transition-duration) ease-in-out; }
.contact-us:hover { color: var(--orange); }

.space { justify-content: space-between; }

.banner {
    width: calc(90% / 3);
    height: 300px;
}

.square {
    width: calc(90% / 3);
    height: 100%;
}

.poster {
    width: calc(90% / 3);
    height: 800px;
}

.contact_email {
    transition: 0.3s all;
}

.contact_email:hover {
    color: var(--orange);

    .orange-color {
        color: var(--white);
    }
}

.social_icon {

    .stroke {
        stroke: var(--white);
    }

    .fill {
        fill: var(--white);
    }
}

.social_icon:hover {
    .stroke {
        stroke: var(--orange);
    }

    .fill {
        fill: var(--orange);
    }
}
